<!DOCTYPE html>
<head>
<title>
</title>
</head>
<body>
<a href="/register">Register</a>
<br>
<br>
Thank you for logging in {{.Username}}. Please apply for a checking account and a savings account below:
<br>
<br>
   <form method="POST" action="/apply">
        <label>First Name:</label><br />
        <input type="text" name="first"><br>
        <label>Last Name:</label><br />
        <input type="text" name="last"><br>
	<label>Address:</label><br />
        <input type="text" name="address"><br>
        <label>Phone Number:</label><br />
        <input type="text" name="phone"><br>
        <br>
        <input type="submit" value="apply">
    </form>

</body>
</html>

